/*------GENERAL----------
*/
body{
	color: #2c3e50;
}

a{
	color: #2c3e50;
}

a:hover{
	color: #3498db;
	text-decoration: none;
}

.left{
	text-align: left;
}

.right{
	text-align: right;
}

/*----NAVIGATION--------
*/

.header a{
	color: #d35400;
}
.header a:hover{
	color: #e67e22;
}

.flexslider{
	color: white;
}
.navbar-wrapper{
	margin-top: 0px;
}

.flexslider{
	border: none;
}

.flex-control-nav{
	bottom: 5px;
}

.caption{
	margin-top: -350px;
	text-align: center;
}

@media screen and (max-width: 990px) {
	.caption{
		margin-top: 0px;
	}

	.flex-control-nav{
		display: none;
	}

	.flex-direction-nav{
		display: none;
	}

	.pull-right{
		float: none;
	}

	.header{
		text-align: center;
	}

	.flexslider{
	color: black;
	}
}

/*-------BODY--------
*/


.center{
	text-align: center;
}

.nav-pills{
	clear: both;
	margin-top: 10px;
}

.nav-pills a:hover{
	background-color:#83CB2D;
}


@media screen and (max-width: 990px) {
	img{
		margin: 0 auto;
	}

	.featurette-image{
	margin-top: 0px;
}
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;

}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#testimonials .a-testimonial { display: none; }

blockquote {
	border-left: none;
	padding:0px;
	margin:0px;
}

blockquote small{
	float: right;
}

.a-testimonial img{
	margin: 0 auto;
}

.a-testimonial .col-md-8{
	margin-top: 30px;
}

.btn-lg{
	padding-left: 50px;
	padding-right: 50px;
}

.featurette-image{
	margin-top: 40px;
}

.flex-direction-nav a{
	overflow: visible;
}

/*----COLORS http://flatuicolors.com/ -------
*/
.sign-up-divider{
	padding: 20px;
	margin: 80px 0px 80px 0px;
	text-align: center;
}
.green-background{
	background-color:#83CB2D;
}

.purple-background{
	background-color: #DDFE92;
}

.blue-background{
	background-color: #2D52CB;
}
.sun-flower-background{
	background-color: #FEF252;
}

.emerald-background{
	background-color: #2ecc71;
}

.carrot-background{
	background-color: #e67e22;
}


/*-------FOOTER----------*/
footer{
	padding: 40px;
}

.social{
	margin-bottom: 20px;
}
footer .social_button{
	border-radius: 50%;
	width: 40px;
	height: 40px;
	margin: 0 auto;
	background-repeat:no-repeat;
	float: left;
	margin-right: 10px;
	cursor: pointer;

}
.social_button{
  text-indent: -3333px;
}

.social_button img {
	width: 32px;
  	height: 30px;
}
a.fill-div {
	display: block;
	height: 100%;
	width: 100%;
	text-decoration: none;
}

.social_button:hover{
    opacity: .7;
}

.facebook{
  background: url("../images/social-buttons.png") 3px 5px;
  background-color: #2980b9;
}

.google_plus{
  background: url("../images/social-buttons.png") -31px 4px;
  background-color: #DE3D33;
}

.instagram{
  background: url("../images/social-buttons.png")  -65px 5px;
  background-color: #CEBAA9;
}

.twitter{
  background: url("../images/social-buttons.png") -98px 5px;
  background-color: #00A0D1;
}