/*------GENERAL----------
*/
body{
	color: #2c3e50;
}

a{
	color: #2c3e50;
}

a:hover{
	color: #3498db;
	text-decoration: none;
}

.left{
	text-align: left;
}

.right{
	text-align: right;
}

/*----NAVIGATION--------
*/

.header a{
	color: #d35400;
}
.header a:hover{
	color: #e67e22;
}

.flexslider{
	color: white;
}
.navbar-wrapper{
	margin-top: 0px;
}

.flexslider{
	border: none;
}

.flex-control-nav{
	bottom: 5px;
}

.caption{
	margin-top: -350px;
	text-align: center;
}

@media screen and (max-width: 990px) {
	.caption{
		margin-top: 0px;
	}

	.flex-control-nav{
		display: none;
	}

	.flex-direction-nav{
		display: none;
	}

	.pull-right{
		float: none;
	}

	.header{
		text-align: center;
	}

	.flexslider{
	color: black;
	}
}

/*-------BODY--------
*/


.center{
	text-align: center;
}

.nav-pills{
	clear: both;
	margin-top: 10px;
}

.nav-pills a:hover{
	background-color:#83CB2D;
}


@media screen and (max-width: 990px) {

	.social-likes{
		display: none;
	}

	img{
		margin: 0 auto;
	}

	.featurette-image{
		margin-top: 0px;
	}

	.marketing .col-lg-4{
		margin-bottom: 75px;
	}
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;

}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#testimonials .a-testimonial { display: none; }

blockquote {
	border-left: none;
	padding:0px;
	margin:0px;
}

blockquote small{
	float: right;
}

.a-testimonial img{
	margin: 0 auto;
}

.a-testimonial .col-md-8{
	margin-top: 30px;
}

.btn-lg{
	padding-left: 50px;
	padding-right: 50px;
}

.featurette-image{
	margin-top: 40px;
}

.flex-direction-nav a{
	overflow: visible;
}

.about-us-progress .progress{
	height: 40px;
}
.about-us-progress h5{
	margin-top: 5px;
}

/*----------Sock subscription options-------------*/

.radios .radio{
	display: inline-block;
	width: 200px;
	height: 100px;
	border: 2px solid #bdc3c7;
	padding: 8px 12px;
	-webkit-appearance: none;
	border-radius: 6px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
	transition: border .25s linear, color .25s linear, background-color .25s linear;
	cursor: pointer;
	margin-left: 20px;
}

.female svg{
	margin-top: 12px;
}
.male svg{
	margin-top: 28px;
}

/*.radios .radio:hover{
	border-color: #48C9B0;
}*/


.radios input[type=radio]:checked + .radio{
	border-color: #1abc9c; 
	background-color: #f4f6f6;
}


.male path:hover{
	fill:#2980b9;
}

.female path:hover{
	fill:#F97575;
}

.gift, .for-me{
	background-color: red;
	opacity:0.4;
	filter:alpha(opacity=40); /* For IE8 and earlier */
}
.radios input[type=radio]{
    display:none;
}

.radios input[type=radio]:checked + .radio{
	opacity:1;
	filter:alpha(opacity=40); /* For IE8 and earlier */

}

.fadein img {
    position:absolute;
    left:-65px;
    top:0;
    -webkit-animation-name: fade;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 6s;
    animation-name: fade;
    animation-iteration-count: infinite;
    animation-duration: 6s;
}

@-webkit-keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}
@keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}

#s2, #c2 {
    -webkit-animation-delay: -4s;
}
#s3, #c3 {
    -webkit-animation-delay: -2s;
}

/*----COLORS http://flatuicolors.com/ -------
*/
.sign-up-divider{
	padding: 20px;
	margin: 80px 0px 80px 0px;
	text-align: center;
}
.green-background{
	background-color:#83CB2D;
}

.purple-background{
	background-color: #DDFE92;
}

.blue-background{
	background-color: #2D52CB;
}
.sun-flower-background{
	background-color: #FEF252;
}

.emerald-background{
	background-color: #2ecc71;
}

.carrot-background{
	background-color: #e67e22;
}


/*-------FOOTER----------*/
footer{
	padding: 40px;
	margin-top: 40px;
}

.social{
	margin-bottom: 20px;
}
footer .social_button{
	border-radius: 50%;
	width: 40px;
	height: 40px;
	margin: 0 auto;
	background-repeat:no-repeat;
	float: left;
	margin-right: 10px;
	cursor: pointer;

}
.social_button{
  text-indent: -3333px;
}

.social_button img {
	width: 32px;
  	height: 30px;
}
a.fill-div {
	display: block;
	height: 100%;
	width: 100%;
	text-decoration: none;
}

.social_button:hover{
    opacity: .7;
}

.facebook{
  background: url("../images/social-buttons.png") 3px 5px;
  background-color: #2980b9;
}

.google_plus{
  background: url("../images/social-buttons.png") -31px 4px;
  background-color: #DE3D33;
}

.instagram{
  background: url("../images/social-buttons.png")  -65px 5px;
  background-color: #CEBAA9;
}

.twitter{
  background: url("../images/social-buttons.png") -98px 5px;
  background-color: #00A0D1;
}